.tabTitle {
    color: #556677;
    &:hover {
        color: lightblue;
    }
}

.selected {
    padding: 0 1rem;
    border-right: 1px solid lightgray;
}

.notSelected {
    padding: 0 1rem;
    border-right: 1px solid black;
}

.displayNone {
    display: none;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.outerFlexContainer {
    display: flex;
    position: relative;
    width: 90%;
}

.outerFlexContainer h3 {
    // margin-left: 30px;
    cursor: pointer;
}

.frequentTitle {
    margin-left: 30px;
    border-bottom: 2px solid grey;
    width: 100%;
}

.frequentDescription {
    margin-left: 30px;
    color: white;
}