.title-date {
    display: flex;
    justify-content: space-between;
}

.title-date h4 {
    color: #89a;
}

.bottom-image-container img {
    max-width: 250px;
    min-height: 250px;
}

.user-rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-rating img{
    max-width: 30px;
}
.user-rating p {
    color: #89a;
}

.user-rating div {
    margin-right: 10px;
}

.user-rating h5 {
    margin-right: 10px;
}

.user-rating svg {
    margin-right: 10px;
}

.description {
    display: flex;
    flex-wrap: wrap;
}
.description p {
    color: #89a;
}

.favorites {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.favorites svg {
    margin-right: 1rem;
}

.favorites p {
    color: #89a;
}
.bottom-card-right-container {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}