
.outer-flex-container {
    display: flex;
    justify-content: space-evenly;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.highlights-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

h3 {
    color: #def;
}

.landing-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 31rem;
    position: relative;
    z-index: 2;
}

.landing-quote h2 {
    color: #fff;
    font-family: 'Courier Prime', monospace;
}

.landing-quote a {
    background-color: #00c030;
    padding: .625rem;
    color: white;
    border-radius: 1rem;
    font-family: 'Courier Prime', monospace;
}


.social {
    font-family: 'Raleway', sans-serif;
    color: #778899;
}

.platforms {
    display: flex;
    align-items: center;
}

.platforms img {
    min-width: 30px;
    min-height: 30px;
    margin-left: .5rem;
}

.stats-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: .5rem 1rem;
    background-color: rgba(black,.7);
    color: white;
    animation: fadeInOpacity;
    animation-timing-function: ease-in-out;
    animation-duration: .3s;
}

.card-carousel {
    // overflow: scroll;
    display: flex;
}

.reviewed-parent-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.reviewed-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #456;
}

.reviewed-top-container p {
    color: #def;
}
.reviewed-cards-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.bottom-left-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 60%;
    margin-left: 1.5rem;
}

.bottom-card-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #456;
    padding: 1.5rem 0px;
}

.bottom-left-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #456;
}
.bottom-left-title p {
    color: #89a;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}