.lists-container {
    display: flex;
    flex-direction: column;
    width: 38%;
}


.lists-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #678;
}

.lists-title p {
    color: #678;

}